/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// reset css values

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;

   border: 1px solid pink !important;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 //end of reset file

body, html {
  background-color: #f8f8f8;

  // text-decoration: none;
  font-family: 'Raleway', sans-serif;



}


a:link, a:visited {
  text-decoration: none;
}

.button {
  background-color: clear; /* Green */
border-radius: 3px;
color: black;
padding: 8px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
width: 50px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;

  height: 50px;

  h1 {
    font-size: 20px;
    padding: 0;
  }

  i {
    padding: 4px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
//left side
.header-nav-left {
 display: flex;
}

.logo {
 background-image: url('images/tree_icon.png');
}

//right side
.header-nav-right {
  display: flex;
}

// right side buttons either signup/login or user and logout
.session-nav-buttons {

}

.user-nav-buttons {

}



.session-form-container {
  padding: 20px;
  background-color: white;
  max-width: 500px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label {
    display: block;
    margin: 5px;
  }
  h3, div {
    text-align: center;
  }


   #submit-button {
    margin: 10px;
    background-color: #41724d;
    box-shadow: none;
  }



}
