/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html{
  background-color: #fefcef;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

div {
  display: inherit;
}

a:link, a:visited {
  text-decoration: none;
}

.button {
  background-color: #41724d; /* Green */
border-radius: 3px;
color: white;
padding: 8px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0a0a0a;
  height: 30px;

  h1 {
    font-size: 20px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
//left side
.header-nav-left {
 display: flex;
}

.logo {

}

//right side
.header-nav-right {
  display: flex;
}

// right side buttons either signup/login or user and logout
.session-nav-buttons {

}

.user-nav-buttons {

}



.session-form-container {
  padding: 20px;
  background-color: white;
  max-width: 500px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label {
    display: block;
    margin: 5px;
  }
  h3, div {
    text-align: center;
  }


   #submit-button {
    margin: 10px;
    background-color: #41724d;
    box-shadow: none;
  }



}
