.photo-index-item {
  width: 80%;
  max-width: 800px;

  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  // font-family: 'Merriweather', serif;
  color: #555555;
  background-color: white;


}

.photo-item-userbox {
  padding: 10px 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;

}

.icon-img-box {
  box-sizing: border-box;
  width: 54px;
  height: 54px;
  // border: 1px solid darkgray;
  border-radius: 50%;
  padding: 10px 2px 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e8;
  color: gray;

}

.user_prof_data {
  padding: 2px 8px;
  display: flex;
  flex-direction: column;

  a:hover {
    color: #660099;
  }

  h2{
    font-size: 16px;
    color: #696969;
    margin: 0;
    margin-bottom: -2px;
  }
}

.photo-created-text {
  color: lightgray;
  font-size: 12px;
  margin: 0;
}

.photo-item-imagebox {
  // border-top: 1px solid lightgray;
  // border-bottom: 1px solid lightgray;


}

.photo-item-infobox {
  padding: 10px 20px;
  background-color: white;
  border-radius: 6px;

  h3 {
    padding: 4px 0px;
    font-size: 14px;
  }

  h4 {
    padding: 4px 0px;
    font-size: 12px;
  }


}
