.photo-index-item {
  width: 80%;
  max-width: 800px;

  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  // font-family: 'Merriweather', serif;
  color: #555555;



}

.photo-item-userbox {
  padding: 10px 20px;
  font-weight: bolder;


  h2 {
    font-size: 14px;
  }
}

.photo-item-imagebox {

}

.photo-item-infobox {
  padding: 10px 20px;

  h3 {
    padding: 4px 0px;
    font-size: 14px;
  }

  h4 {
    padding: 4px 0px;
    font-size: 12px;
  }


}
