.photo-index-item {
  width: 80%;

  margin: 20px auto;
  border: 1px solid lightgray;
  border-radius: 6px;

  h3 {
    margin: 10px;
  }


  img {

  }

}

.photo-item-userbox {
  padding: 20px 10px;
}

.photo-item-infobox {
  padding: 20px 10px;

}
