.topbox {
  min-height: 200px;
  border-bottom: 1px solid lightgray;
}
.profile-user-box {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  position: absolute;
  // justify-content: center;
}

.profile-img-container {
  position: relative;
  top: -47px;
  left: 50%;
  
  display: flex;


}

.profile-img{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  top: 25%;
}

.profile-info-username {
  margin: 0 auto;
  text-align: center;

  h3 {
    padding: 4px 8px;
    font-weight: bolder;
  }
}

.profile-info-stats {
  margin: 0 auto;
  display: flex;
  div {
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 2px;
  }

  p {
    text-align: center;

  }
}

.count {

}
