.topbox-wrapper {
  background-color: white;
}
.topbox {
  min-height: 120px;
  border-bottom: 1px solid lightgray;

  margin-bottom: -50px;
}

.profile-img-container {

  display: flex;
  flex-direction: column;
}

.prof-icon-container {
  display: flex;
}

.profile-img{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 12px 6px 6px 6px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: gray;
  text-align: center;


  // position: relative;
  // z-index: 1;
  // top: 25%;
}

.profile-user-box {
  display: flex;
  min-height: 80px;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  align-items: center;


}

.profile-info-username {
  margin: 0 auto;
  text-align: center;

  h3 {
    padding: 4px 8px;
    font-weight: bolder;
    color: #696969;
  }
}

.profile-info-stats {
  margin: 0 auto;
  display: flex;
  flex-direction: row !important;
  div {
    width: 120px;
    // border: 1px solid lightgray;
    // border-radius: 2px;
  }

  p {
    text-align: center;
    padding: 8px;
    color: darkgray;
    font-size: 14px;

  }
}

.count {

}
